<header class="header" role="banner">
    <div class="vertical-theme-header">
      <div class="inner-theme-header">
        <!-- Title -->
        <h1>
            <a href="{{@blog.url}}" rel="nofollow" class="header-title">{{@blog.title}}</a>
        </h1>
        <a href="#blog" class="theme-button">Blog</a>
        <a href="{{@blog.url}}/portfolio" class="theme-button">Portfolio</a>
      </div>
    </div>

    <div class="wrap clearfix">

        {{#if @blog.logo}}
            <!-- Logo -->
            <div id="logo" class="h1">
                <a id="logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Logo"></a>
            </div>
        {{/if}}





    </div> <!-- end #inner-header -->

</header> <!-- end header -->
